p {
    color: rgb(89, 42, 165);

}

h2 {

    color: rgb(109, 14, 153);
    text-decoration: underline;
}

projects {
    color: pink;

}

services {
    color: blue
}

body {
    text-align: center
}